@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-image: linear-gradient( to right, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) ;
}

.container {
    width: 50%;
    max-height: 400px;
    padding: 3rem 3rem 3rem 0;
    margin: 8rem auto;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;    
}

h1 {
    color: hsl(237, 12%, 33%);
    margin-bottom: 1rem;
}

.main-image {
    width: 45%;
}

.main-image img {
    display: block;
}

.faq {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    color: hsl(240, 6%, 50%);
    border-bottom: 1px solid hsl(240, 5%, 91%);
}
.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.tick {
    padding-right: 10px;
}

.answers {
    font-weight: 400;
    padding-top: 1rem;
    display: none;
}
